.smallButton {
    max-width: 1440px; // Sets a max width for the container
    align-items: center; // Centers content horizontally
    display: flex;
    width: 100%; // Ensures the container takes up the full width
  
    &__title {
        font-size: var(--font-title); // Custom font size for the title
        font-weight: var(--bold); // Bold font weight
        margin-bottom: 40px; // Space below the title
        color: var(--txt-black); // Text color for the title
    }
  
    &__btn-line {
        border-top: 1px solid var(--grey-divider); // Creates a horizontal divider line
        flex-grow: 1; // Makes the divider take up available space
        margin-bottom: 30px; // Space below the divider
        margin-left: 10px; // Small margin to the left
    }
  
    &__btn-small {
        font-weight: var(--normal); // Normal font weight for the button
        font-size: var(--font-small); // Custom font size for the button
        padding: 8px 16px; // Padding for the button
        cursor: pointer; // Shows a pointer cursor on hover
        margin-bottom: 30px; // Space below the button
        background-color: transparent; // Transparent background
        border-color: var(--grey-divider); // Border color matches the divider
        color: var(--txt-grey); // Grey text color
  
        &:hover {
            background-color: var(--black); // Dark background on hover
            color: var(--txt-grey); // Keeps text color grey on hover
        }
    }
  
    // Responsive styles for smaller screen sizes

  }

@media (max-width: 768px) {
    .smallButton{
        &__title {
            font-size: 56px; // Adjust title size for medium screens
        }
    }

}


@media (max-width: 480px) {
    .smallButton{
        &__title {
            font-size: 42px; // Further adjusts title size for small screens
        }
    
        &__btn-small {
            font-size: 14px; // Reduces button text size for small screens
        }
    
        // &__btn-line {
        //     display: none; // Hides the line on small screens
        // }
    
        // &__btn-small {
        //     display: none; // Hides the small button on small screens
        //     text-decoration: none; // Removes any text decoration
        // }
    }
}

@media (max-width: 360px) {
    .smallButton{
        &__title {
            font-size: 40px; // Even smaller title size for extra small screens
        }
    
        &__btn-line {
            display: none; // Ensures the line is hidden on very small screens
        }
    
        &__btn-small {
            display: none; // Hides the button on very small screens
            text-decoration: none;
        }
    }  
}